<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Paga e Não Bufa", suffix: " · Juniores 21/22" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><%= link "Jogadores", to: Routes.player_path(@conn, :index) %></li>
            <li><%= link "Multas", to: Routes.fine_path(@conn, :index) %></li>
            <li><%= link "Multas Aplicadas", to: Routes.player_fine_path(@conn, :index) %></li>
          </ul>
        </nav>
        <a href="/" class="gdp-logo">
          <img src={Routes.static_path(@conn, "/images/index.png")} alt="Grupo Desportivo de Prado"/>
        </a>
      </section>
    </header>
    <div style="display: flex; justify-content:  center; height: 75vh">
      <iframe width="75%" height="100%" src= "https://www.youtube.com/embed/vefZAahfC4c"></iframe>
    </div>
  </body>
</html>
