<h1>Editar Membro da Equipa</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.player_path(@conn, :update, @player)) %>

<span><%= link "Cancelar", to: Routes.player_path(@conn, :index) %></span>
