<h1>Adicionar Membro da Equipa</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.player_path(@conn, :create)) %>

<span><%= link "Cancelar", to: Routes.player_path(@conn, :index) %></span>
